/* using local nunito font */
@import url(../assets/fonts/Nunito-FontFace.css);
@import url(../assets/icons/Material-Icon-FontFace.css);

/* css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: 0.9rem;
  color: var(--theme-dark);
  font-family: "Nunito", sans-serif;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  display: flex;
  color: inherit;
  list-style: none;
  text-decoration: none;
}

ul li {
  margin: 0 25px 0 0;
}

/* */

:root {
  --theme-danger: #e69464;
  --theme-primary: #1b1b1b;
  --theme-secondary: #dbdbdb;
  --theme-shadow-dark: #1b1b1b0d;
  --theme-shadow-light: #7474741c;
  --theme-shadow-fade: #74747475;
}

.primary {
  color: var(--theme-primary, #1b1b1b);
}

.secondary {
  color: var(--theme-secondary, #dbdbdb);
}

.danger {
  color: var(--theme-danger, #e69464);
}

.flex-end {
  align-items: flex-end;
}

.bg-primary {
  background: var(--theme-primary, #1b1b1b);
}

.bg-secondary {
  background: var(--theme-secondary, #f7f7f7);
}

.bg-danger {
  background: var(--theme-danger, #e69464);
}

.bg-fade {
  background: var(--theme-shadow-fade, #74747475);
}

body {
  display: grid;
  grid-template-rows: 15vh 1fr 15vh;
  grid-template-areas: "header nav nav" "main main main" "footer footer addToCart";
}

body > * {
  display: flex;
  padding: 0 10%;
  align-items: center;
  justify-content: space-between;
}

header {
  grid-area: header;
  grid-column: 1 / 2;
}

nav {
  grid-area: nav;
  grid-column: 2 / -1;
  border-left: 0.1rem solid var(--theme-primary);
}

main {
  grid-area: main;
  position: relative;
  grid-column: 1 / -1;
  justify-content: center;
  border-top: 0.1rem solid var(--theme-primary);
  border-bottom: 0.1rem solid var(--theme-primary);
}

.theme-switch {
  right: 10%;
  position: absolute;
  transform: rotate(90deg);
  z-index: 5;
}

.theme-switch * {
  user-select: none;
}

footer {
  grid-area: footer;
  grid-column: 1 / 3;
}

aside {
  grid-column: 3 / -1;
  grid-area: addToCart;
  background: var(--theme-danger);
  border-left: 0.1rem solid var(--theme-primary);
}

@media all and (max-width: 450px) {
  body {
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: 10vh 1fr 10vh;
  }
  body > * {
    grid-column: 1 / -1;
  }
  nav {
    display: none;
  }
  aside {
    display: none;
  }
}
